# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.turbo/

# Environment files
.env
.env.local
.env.*.local
*-secrets-manager.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
apps/web/build
apps/api/dist
apps/api/node_modules
apps/web/node_modules
packages/shared/node_modules
packages/config/node_modules
packages/ui/node_modules


# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Cloudflare
.wrangler/
.dev.vars
